body {
    background: rgba(252, 251, 249, 0.68);
    color: #4d4f56;
    font-family: "Source Sans 3", sans-serif;
}



.my-orders-page {
    padding: 4rem 0 2rem;
}

.my-orders-page .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container .noOrder {
    width: 100%;
    height: 20rem;
    background-color: #89d989;
    border: 2px solid #419641;
    box-shadow: inset 0 0 1.4rem rgba(20, 108, 5, 0.2);
    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.container .noOrder h1 {
    font-size: 3.5rem;
    color: #207020;
}


.my-orders-page .container table {
    width: 100%;
    text-align: center;
    /* border: 1px solid black; */
}

table {
    border-spacing: 0px;
}

table thead {
    background: #404040;
    color: white;
}

table thead tr th {
    padding: 1rem;
    text-align: left;
    /* border: 1px solid #eceeef; */
}

tbody tr td {
    background: #fafaf8;
    /* border: 1px solid #eceeef; */
    text-align: left;
    padding: 1.1rem 1.5rem 1.5rem 1rem;
}



.border_left {
    border-left: 1px solid #eceeef;
}

.border_bottom {
    border-bottom: 1px solid #eceeef;
}

.border_top {
    border-top: 1px solid #eceeef;
}

.border_right {
    border-right: 1px solid #eceeef;
}

.delete-img-dustbin {
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .delete-img-dustbin__bg {
    padding: 5px 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:  0 0 1rem #e74442;
} */

/* .dustbin-img {

    padding: 1rem;
    width: 1rem;
    filter: invert(14%) sepia(75%) saturate(4928%) hue-rotate(9deg) brightness(99%) contrast(122%); 
} */


.delete-img-dustbin__bg,
.cancel-img-dustbin__bg {
    background-color: #e74442;
    /* height: fit-content; */
    height: fit-content;
    width: fit-content;
    padding: .6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
}

.dustbin-img {
    /* padding-inline-start: 1rem; */
    width: 1.3rem;
    filter: invert(1);
}



/* Order Status Button */
.order_status-btn {
    background-color: #5bc0de;
    color: white;
    padding: .8rem 1rem;
    border-radius: .2rem;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 78%;
    gap: 7%;
}



/* status buttons */
.order_status-btn {
    cursor: pointer;
    transition: all 400ms ease;
    font-weight: 500;
    border: 1px solid #d9d5d5;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.173);
    font-size: 1.1rem;
    border-radius: 6px;
    margin: 0 auto;
}

.order_status-btn:active {
    background-color: rgb(211, 209, 209);
}

.order_status-btn img {
    width: 1.7rem;

}

.status-box-On {
    /* on the way */
    background-color: #ffb22b;
    padding: .6rem 1rem;

}

.status-box-On img {
    width: 1.9rem;
    filter: invert(1);
}


.status-box-Delivered {
    /* delivered */
    background-color: #207020;
}

.status-box-Delivered img {
    width: 1.6rem;
    filter: invert(1);
}




.status-box-Dispatched {
    /* dispatched */
    background-color: #5c4ac7;
}

.status-box-Dispatched img {
    width: 1.6rem;
    filter: invert(1);
}



.status-box-Order {
    /* order palced */
    background-color: #5bc0de;

}

.status-box-Order img {
    filter: invert(1);
}


.status-box-Cancelled {
    /* order cancled */
    background-color: #ef5350;
}

.status-box-Cancelled img {
    width: 2rem;
    filter: invert(1);
}










@media screen and (max-width:600px) {

    .my-orders-page .container table {
        display: block;
        width: 100%;
        overflow: auto;
    }

    .my-orders-page .container {
        width: 99%;
    }

    .order_status-btn {
        width: 100%;
    }
}











/* css for cancel order */
.cancelModalStartHere {
    display: none;
    /* background-color: red; */
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    z-index: 30;
}


.cancel_confirm-modal {
    width: 25rem;
    /* margin: 0 auto; */
    background-color: white;
    border: 1px solid #c8c8c8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.078);
    border-radius: 7px;
    overflow: hidden;
    margin-left: 37vw;
}


.cancel_confirm-modal_container {
    display: flex;
    flex-direction: column;
}

.cancel_modal-row1 {
    padding: .6rem 1rem;
    border-bottom: 1px solid #dee2e6;
    /* background-color: rgb(243, 243, 243); */
}

.cancel_modal-row1 h2 {
    color: rgb(58, 58, 58);
    font-weight: 800;
    font-size: 1.3rem;
}

.cancel_modal-row2 {
    padding: 1.1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    background-color: #fefefe;
    /* align-self: center; */
    /* width: 100%; */
}

#cancel_reason {
    resize: none;
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 3px;
    font-size: 1rem;
    padding: .3rem .3rem;
    color: rgb(23, 23, 23);
}


.cancel_modal-row3 {
    /* background-color: rgb(243, 243, 243); */
    padding: .5rem .8rem;
    display: flex;
    justify-content: flex-end;
    gap: 7px;
}

.cancel-confirm-btn {
    background-color: rgb(10, 116, 10);
    border-radius: 3px;
    color: white;
    transition: all 400ms ease;
    cursor: pointer;
}

.cancel-confirm-btn:hover {
    background-color: rgb(14, 159, 14);
    box-shadow: 0 0 10px rgba(0, 128, 0, 0.17);
}

.cancel-cancel-btn {
    background-color: rgb(207, 13, 13);
    border-radius: 3px;
    color: white;
    transition: all 400ms ease;
    cursor: pointer;
}

.cancel-cancel-btn:hover {
    background-color: rgb(231, 11, 11);
    box-shadow: 0 0 10px rgba(228, 7, 7, 0.17);
}