/*  =================================================================== table ===================================================  */
.all_users-table {
    margin-top: 2rem;
    overflow: auto;
}

.all_users-table table {
    width: 100%;
}

.all_users-table table thead {
    background-color: #212529;
    color: white;
}

.all_users-table table thead td {
    padding: 1rem .9rem 1rem;
    font-size: 1.08rem;
    font-weight: 600;
}

.all_users-table table tbody tr {
    background-color: rgba(0, 0, 0, .05);
}

.all_users-table table tbody td {
    padding: 1rem .9rem;
    font-weight: 600;
}




/* actions images edit buttons and delete buttons */

.all_user-action {
    display: grid;
    padding: 5px;
    border-radius: 10px;
    width: 36px;
    height: 36px;
    transition: all 250ms ease-in;
}

.all_user-action-trash {
    background-color: #e74442;
    box-shadow: 0 0 5px #de9896;
}

.all_user-action-trash:hover {
    background-color: #ef5350;
    box-shadow: 0 0 1rem #f2d0cf;
}

.all_user-action-edit {
    background-color: #126ac1;
    box-shadow: 0 0 5px #b6d8f3;
}

.all_user-action-edit:hover {
    background-color: #1976d2;
    box-shadow: 0 0 1rem #b6d8f3;
}

.all_user-action img {
    align-self: center;
    justify-self: center;
    width: 1.2rem;
    filter: invert(1);
    /* filter: invert(99%) sepia(5%) saturate(804%) hue-rotate(10deg) brightness(111%) contrast(91%); */
    z-index: 5;
}

.action_data {
    display: flex;
    gap: 12%;
    align-items: center;
    justify-content: center;
}