.update_order-modal {
    display: none;
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, .2);
}


.order_update-table {
    height: 100%;
}

.update_order-modal .modal__container {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    padding-top: 6.4rem;
}

.order_update-table table {
    width: 100%;
    height: 30rem;
}


.order_update-table table tr {
    /* background-color: grey; */
    background-color: rgba(0, 0, 0, .05);
}

.order_update-table table tr td {
    padding-left: .8rem;
}


.update_order-modal .modal-start {
    width: 52rem;
    height: fit-content;
    /* border: .32px solid #ffffff3f; */
    box-shadow: 0 0 1rem #ffffff52;
    border: .7px solid #dadada;
    background-color: #fff;
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 1px;
    animation-name: update_order-modalAnimation;
    animation-duration: 300ms;
}

@keyframes update_order-modalAnimation {
    from {
        scale: 0;
    }

    top {
        scale: 1;
    }
}


.modal-heading {
    background-color: #5744c4;
    padding: 14px 1.1rem;
}

.modal-heading h2 {
    color: #fff;
}


/* modal - buttons */
.order-modal-btn {
    cursor: pointer;
    padding: 11px .63rem;
    background-color: #5c4ac7;
    color: white;
    border-radius: 5px;
    border: 1px solid #5c4ac7;
    transition: all 200ms ease;
}

.order-modal-btn:hover {
    box-shadow: 0 0 10px #7367b69c;
}

.order-modal-close {
    padding: 11px 1.3rem;
    background-color: red;
    border: 1px solid rgb(232, 54, 54);
    cursor: pointer;
}

.order-modal-close:hover {
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.441);
    background-color: rgb(255, 12, 12);
    /* color: black; */
}



















/* Order Status Button */
.order_status-btn {
    background-color: #5bc0de;
    color: white;
    padding: .8rem 1rem;
    border-radius: .2rem;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 6%;
}


/* status buttons */
.order_status-btn {
    cursor: pointer;
    transition: all 400ms ease;
    font-weight: 500;
    border: 1px solid #d9d5d5;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.173);
    font-size: 1.1rem;
    border-radius: 6px;
}

.order_status-btn:active {
    background-color: rgb(211, 209, 209);
}

.order_status-btn img {
    width: 1.7rem;

}

.status-box-On {
    /* on the way */
    background-color: #ffb22b;
    padding: .6rem 1rem;

}

.status-box-On img {
    width: 1.9rem;
    filter: invert(1);
}


.status-box-Delivered {
    /* delivered */
    background-color: #207020;
}

.status-box-Delivered img {
    width: 1.6rem;
    filter: invert(1);
}




.status-box-Dispatched {
    /* dispatched */
    background-color: #5c4ac7;
}

.status-box-Dispatched img {
    width: 1.6rem;
    filter: invert(1);
}



.status-box-Order {
    /* order palced */
    background-color: #5bc0de;

}

.status-box-Order img {
    filter: invert(1);
}


.status-box-Cancelled {
    /* order cancled */
    background-color: #ef5350;
}

.status-box-Cancelled img {
    width: 2rem;
    filter: invert(1);
}