/* @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap'); */
/* font-family: "Mukta", sans-serif; */

:root {
    --color-aside: #686868;
    --color-aside-hover: #1976d2;
}

/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap'); */
/* font-family: "Ubuntu", sans-serif; */



* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;

}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fafafa;
}

.nav__menu {
    display: none;
    position: absolute;
    right: 7rem;
    /* right: 3rem; */

    /* animation-name: navbarAnimation; */
    /* animation-name: navbarDisable; */
    /* animation-duration: 500ms; */

}

/* background-color: #5c4ac7; */

.nav__menu li a {
    color: white;
    font-weight: 600;
    background-color: red;
    padding: .7rem 1.2rem;
    border-radius: 5px;
}


@keyframes navbarAnimation {
    from {
        right: -2rem;
        opacity: 0;
        /* z-index: -1; */
    }

    to {
        scale: 1;
        z-index: 69;
    }
}

@keyframes navbarDisable {
    from {}

    to {
        right: -2rem;
        opacity: 0;
    }
}

.dashboard-main {
    padding-top: 4rem;
}

header {
    display: grid;
    grid-template-columns: 15.5% 84.5%;
}

footer {
    margin-top: 2rem;
    position: relative;
    padding: 1rem;
    background-color: #fff;
    text-align: center;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.050);
    border-top: #67757c;
}

.container {
    width: 93%;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    padding: 0.59rem 1.1rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: all 200ms ease;
}




/* ============================================================================== NAVBAR ================================================================================ */

nav {
    background-color: #fff;
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.051);
    position: fixed;
    z-index: 69;
    border-bottom: 1px solid rgb(241, 241, 241);
}

nav .nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav .logout-profile {
    width: 2.7rem;
}

nav .logout-profile img {
    width: 100%;
    height: 2.7rem;
    border-radius: 50%;
    cursor: pointer;

}






/* ========================================================================= ASIDE =========================================================== */

.flex-aside-li {
    display: flex;
    align-items: center;
    gap: 7px;
}

aside {

    position: relative;
    width: 100%;
    padding: 2rem 1.1rem 2rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.051);
    border-right: 1px solid rgb(241, 241, 241);
    min-height: 80vh;
    max-height: 100vh;

    z-index: 4;
}

aside ul li a span {
    color: #1976d2;
    /* font-family: "Mukta", sans-serif; */
    font-weight: 500;
    font-size: 1.1rem;

}

.aside-img {
    width: 1.12rem;
    filter: invert(45%) sepia(26%) saturate(199%) hue-rotate(155deg) brightness(93%) contrast(88%);
}



/* aside top */
.aside__container-top {
    margin-bottom: 1.3rem;
}

.aside__container-top ul h4 {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: .9rem;
}

.aside__container-top ul li {
    padding: .5rem .6rem;
    background-color: #f3f3f3;

    border-radius: 5px;
}


.aside__container-top ul li a {

    display: flex;
    align-items: center;
    gap: 7px;
}



/* aside bottom */

.admin-controler-links ul h4 {
    margin-bottom: 10px;
}

.admin-controler-links ul .list-bg {
    display: flex;
    align-items: center;
    padding: 0.5rem .6rem;

    margin-bottom: 6px;

    background-color: #f3f3f3;
    border-radius: 5px;

    cursor: pointer;
}

.admin-controler-links ul h4 {
    font-weight: 600;
    font-size: .9rem;
    /* color: #67757c; */
}

.admin-controler-links ul li .flex-anchor {
    display: flex;
    align-items: center;
    gap: 7px;
    width: 100%;
}






/* admin right side ADMIN DASHBOARD */


.marqueetag {
    height: 2rem;
    display: flex;
    align-items: flex-end;
}

.marqueetag marquee {
    font-size: 1.05rem;
}

.admin__dashboard-img {
    filter: invert(44%) sepia(13%) saturate(384%) hue-rotate(155deg) brightness(98%) contrast(86%);
    width: 3rem;
}


.admin__dashboard-row {
    display: flex;
    gap: 1.1rem;
    margin-bottom: 1rem;
}


.admin__dashboard {
    padding: 1rem 2.4rem 1rem;
}

.admin__dashboard-container {
    background-color: #fff;
    border-radius: 6px;
    padding: 1.2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.052);
    border: 2px solid rgba(116, 20, 205, 0.049);
    /* overflow: auto; */
}


.admin__dashboard-container .dashboard__header {
    background-color: #5c4ac7;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 1rem;
    color: white;
    margin-bottom: 1rem;
}

.admin__dashboard-container .dashboard__header h4 {
    font-weight: 500;
    font-size: 1.3rem;
}

/* aADMIN DASHBOARD ROWS  */
.card {
    padding: 1rem 1.3rem;
    background-color: white;
    /* height: 100%; */
    width: 100%;
    height: 8.5rem;
    border-radius: 6px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.052);

    /* display: flex; */
    /* align-items: center; */
}

.card .media {
    display: flex;
    align-items: center;
    height: 100%;
}

.card .media .media-right {
    width: 100%;
    text-align: right;
    color: #67757c;
}


.card .media .media-right h2 {
    font-size: 1.5rem;
    font-weight: 500;
    /* margin-bottom: 2px; */
}

.card .media .media-right p {
    font-size: 1.1rem;
    font-weight: 500;
}


.arraw-img {
    filter: invert(44%) sepia(13%) saturate(384%) hue-rotate(155deg) brightness(98%) contrast(86%);
    width: 1.04rem;
    position: absolute;
    right: 14%;
    padding: 4px;

}



/* hidden property */
.hidden-off {
    align-items: baseline !important;
    flex-direction: column;
    transition: all 1s ease;
}

.hidden-div {
    width: 100%;
    transition: all 1s ease;
}

.hidden-div li {
    width: 100%;
    padding: .8rem 0 .8rem 1.65rem;
    /* padding-left: 1.65rem; */
    /* padding-bottom: 6px; */
    margin: 6px 0;
    background-color: #dfdfdf;
    border-radius: 6px;

}







/* ============ For Delete Modal Confirm=================== */
.deleteModalStartHere {
    display: none;
    /* background-color: red; */
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    z-index: 30;
}

.delete_confirm-modal {
    width: 25rem;
    /* margin: 0 auto; */
    background-color: white;
    border: 1px solid #c8c8c8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.078);
    border-radius: 7px;
    overflow: hidden;
    margin-left: 37vw;



}


.delete_confirm-modal_container {
    display: flex;
    flex-direction: column;
}

.delete_modal-row1 {
    padding: .6rem 1rem;
    border-bottom: 1px solid #dee2e6;
    /* background-color: rgb(243, 243, 243); */
}

.delete_modal-row1 h2 {
    color: rgb(58, 58, 58);
    font-weight: 800;
    font-size: 1.3rem;
}

.delete_modal-row2 {
    padding: 1.6rem 1.3rem;
    border-bottom: 1px solid #dee2e6;
    /* align-self: center; */
    /* width: 100%; */
}

.delete_modal-row2 p {
    color: #29292b;
    ;
}

.delete_modal-row3 {
    /* background-color: rgb(243, 243, 243); */
    padding: .5rem .8rem;
    display: flex;
    justify-content: flex-end;
    gap: 7px;
}

.confirm-btn {
    background-color: rgb(10, 116, 10);
    border-radius: 3px;
    color: white;
    transition: all 400ms ease;
    cursor: pointer;
}

.confirm-btn:hover {
    background-color: rgb(14, 159, 14);
    box-shadow: 0 0 10px rgba(0, 128, 0, 0.17);
}

.cancel-btn {
    background-color: rgb(207, 13, 13);
    border-radius: 3px;
    color: white;
    transition: all 400ms ease;
    cursor: pointer;
}

.cancel-btn:hover {
    background-color: rgb(231, 11, 11);
    box-shadow: 0 0 10px rgba(228, 7, 7, 0.17);
}


@keyframes start-deleteConfirmModal {
    from {
        scale: 0;
        opacity: .3;
    }

    to {
        scale: 1;
        opacity: 1;
    }
}

@keyframes hide-deleteConfirmModal {
    from {
        scale: 1;
        opacity: 1;
    }

    to {
        scale: 0;
        opacity: 0;
    }
}